{% extends "base.html" %}
{% block description %}{{ SITESUMMARY }}{% endblock %}
{% block content %}
<div class="pt-5 md:pt-20">
  <div class="px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full md:w-3/5 lg:w-1/2 justify-center items-start text-center md:text-left">
      {% if WORKSHOP_CONF_LOGO %}
      <div class="mx-auto">
        {{ logo_macro.logo(WORKSHOP_CONF_LOGO, "block w-2/3 max-w-xs mx-auto md:hidden ") }}
      </div>
      {% endif %}
      {% if WORKSHOP_SHORT_NAME %}
      <p class="hidden md:block uppercase tracking-wide w-full">{{ WORKSHOP_SHORT_NAME }}</p>
      {% endif %}
      {% if WORKSHOP_FULL_NAME %}
      <h1 class="my-4 text-3xl md:text-4xl font-bold leading-tight">{{ WORKSHOP_FULL_NAME }}</h1>
      {% endif %}
      <div class="leading-normal text-xl md:mb-8 mx-auto md:mx-0">
        {% include 'conf_header.html' %}
        <div class="flex flex-col mt-8 space-y-4 text-center">
          {% for title, link in WORKSHOP_CALL_TO_ACTIONS %}
          <a href="{{ link }}"
            class="mx-auto w-full bg-white hover:bg-gray-200 text-gray-800 font-bold border border-gray-400 p-2 rounded-md md:w-auto md:rounded-full md:shadow-lg lg:mx-0">{{ title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-2/5 lg:w-1/2 md:mb-8 py-4 md:px-8 text-center">
      {% if WORKSHOP_CONF_LOGO %}
      {{ logo_macro.logo(WORKSHOP_CONF_LOGO, "hidden md:block md:w-4/5 md:mx-auto md:z-50") }}
      {% else %}
      <img class="w-full md:w-4/5 z-50" alt="Proud coder" src="{{ SITEURL }}/theme/images/undraw_proud_coder_7ain.svg">
      {% endif %}
    </div>
  </div>
</div>
<div class="px-3 mx-auto max-w-3xl md:pt-8">
  {% if WORKSHOP_KEY_DATES %}
  <div id="dates">
    <h1 class="leading-tight text-3xl font-semibold mb-4 mt-6 pb-2">Key Dates</h1>
    {% include 'key_dates.html' %}
  </div>
  {% endif %}
  {% if articles %}
  <div id="articles">
    <h1 class="leading-tight text-3xl font-semibold mb-4 mt-6 pb-2">Updates</h1>
    {% for article in articles_page.object_list %}
    {% include 'article_listing.html' %}
    {% if loop.last %}
    <!-- /#posts-list -->
    {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %}
    <div class="w-full py-4 border-t text-center">
      <a href="{{ SITEURL }}/updates"
        class="mx-auto bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 border border-gray-400 rounded-full shadow-lg">More
        Updates</a>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% if WORKSHOP_INCLUSIVITY %}
  <div id="inclusivity" class="my-4">
    <h1 class="leading-tight text-3xl font-semibold pb-2">Inclusivity Statement</h1>
    <div class="markdown">
      <p>{{WORKSHOP_INCLUSIVITY}}</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}