<div class="flex flex-col py-3 px-2  border-b border-gray-500" style="margin-bottom:0 !important;">
    <div class="w-full flex flex-row justify-between">
        <span class="text-sm uppercase tracking-wide">Example</span>
    </div>

    <div class="flex-grow">
        <div class="flex flex-col">
            <span class="my-4 text-xl font-bold leading-tight">Title</span>
        </div>
        <div class="space-y-2">
            <div class="flex flex-col">
                <div class="font-bold">Author</div>
                <div class="">
                    <span class="">Bob Ross</span>
                </div>
            </div>

        </div>
    </div>
</div>